<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    
    <main class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <h1 class="text-white">Bienvendo</h1>
        </header>

        
        <section class="row">

            <!--*SE MOSTRARA LA INFORMACION DEL USUARIO-->
            <section id="infoUser" class="card col-2 text-center ms-5 bg-black bg-opacity-75 ">
                <article id="bodyCard" class="card-body">
                    <h5 class="card-title  text-white">Jugador</h5>
                </article>
            </section>

            <section id="consumable" class="col text-white d-flex ">
                <div class="w-100 m-5 text-center">
                    <h2>Lista de comidas</h2>
                    <table  class="w-100 table bg-black bg-opacity-75 text-white text-center">
                        <thead>
                            <tr>
                                 <th>Name</th> <th>Value</th> <th>Weight</th>
                                <th>Consumable</th>
                            </tr>
                        </thead>
    
                        <tbody id="bodyCon">
    
                        </tbody>
                    </table>
                </div>
            </section>   
        </section>

        <section id="weapon" class="row justify-content-end">
            <div class="col-9 text-white text-center">
                <h2>Lista de armas</h2>
                <table class="w-100  table bg-black bg-opacity-75 text-white text-center">
                    
                    <thead>
                        <tr>
                             <th>Name</th> <th>Value</th> <th>Weight</th> <th>Damage</th> <th>Durability</th>
                        </tr>
                    </thead>

                    <tbody id="bodyWea">

                    </tbody>
                </table>
            </div>
        </section>

        <section class="row justify-content-center">
            <article class="col  d-flex justify-content-center">
                <button id="btnExit" class="btn btn-primary">Menu Principal</button>
            </article>
        </section>
    </main>

    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../js/menu/Inventory.js"></script>
    <script src="../js/menu/infoUser.js"></script>
</body>
</html>