<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu de opciones</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

    <main class="container">
        
        
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <h1 class="text-white">Bienvendio</h1>
        </header>

        
        <section class="row">

            <!--*SE MOSTRARA LA INFORMACION DEL USUARIO-->
            <section id="infoUser" class="card col-2 text-center ms-5 bg-black bg-opacity-75 ">
                <article id="bodyCard" class="card-body">
                    <h5 class="card-title  text-white">Jugador</h5>
                </article>
            </section>

            <!--*MOSTRARA LAS OPCIONES DEL JUEGO-->
            <section class="col d-flex   m-3">
                <article class="text-center pt-3 w-100 bg-black bg-opacity-75 rounded-3 p-5">
                    <h3 class="text-white">Opciones</h3>
                    <button id="search" class="btn btn-outline-success m-3">Buscar Objetos</button> <br/>
                    <button id="see" class="btn btn-outline-warning m-3">Ver inventario</button> <br/>
                    <button id="exit" class="btn btn-outline-danger m-3">salir</button>
                </article>
            </section>
        </section>
    </main>
    

    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../js/menu/menu.js"></script>
    <script src="../js/menu/infoUser.js"></script>
</body>
</html>