<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Objeto</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <main class="container">

        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <h1 class="text-black">Buscando</h1>
        </header>

        <section class="row">
            <article id="infoUser" class="card col-2 text-center ms-5 bg-black bg-opacity-75 ">
                <article id="bodyCard" class="card-body">
                    <h5 class="card-title  text-white">Jugador</h5>
                </article>
            </article>

            <article class="col col d-flex   m-3">
                <div id="item1" class="bg-black bg-opacity-50 w-50 mx-2">
                    
                </div>

                <div id="item2" class="bg-black bg-opacity-50 w-50 mx-2">

                </div>
            </article>
            
        </section>

        <article class="row d-flex justify-content-center">
            <button id="btnExit" class="btn btn-success w-25">Menu principal</button>
        </article>

        
    </main>

    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../js/menu/infoUser.js"></script>
    <script src="../js/menu/search.js"></script>
</body>
</html>